[Unit]
Description=Wizzeye server
After=network.target

[Service]
RootDirectory=/opt/wizzeye
ExecStart=/wizzeye-server-linux-amd64
User=wizzeye
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
